* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
    
html {
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)),
    url('../images/4853351.jpg') no-repeat center center;
    width: 100%;
    min-height: 100vh;
    background-attachment:fixed ;
    background-size: cover;

    color: #e5e7eb;

}


section {
    padding: 120px 10%;
}



header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 0;

    
}


.navbar {
    display: flex;
    gap: 20px;
    list-style: none;
    
}
.navbar a {
    
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #c084fc;

    text-shadow: 0 0 5px #af76e4;
}

#sobre p {
    max-width: 500px; 
    line-height: 1.8;
    font-size: 1.1rem; 
    color:#d1d5db;
    text-align: justify; 
}
.sobre-container {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

}



#ft1 {
    width: 250px;
    height: 250px;
    border-radius: 50%;

    object-fit: cover;

    box-shadow: 0 0 25px rgba(168, 85, 247, 0.25);

    transition: 0.4s;
}



#ft1:hover {
    transform: scale(1.03);

    box-shadow: 0 0 40px rgba(168, 85, 247, 0.45);

}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transform: translateY(-10px);
    
}
.nome {
    font-size: 36px;
    font-weight: 700;

    color: white;
}
.cargo {
    color: #eeeeee;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}



.redes a {
    color: #e5e7eb;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
}
.redes a:hover {
    color: #a855f7;
}
#linguagens h2 {
    font-size: 28px;

    font-weight: 600;

    color: white;

    letter-spacing: 1px;
}
#linguagens {
    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 30px;
}


#icones-tec {
    display: flex;

    justify-content: center;

    gap: 40px;

    flex-wrap: wrap;
}

.fa-html5:hover {
    color: #E34F26;
    filter: drop-shadow(0 0 8px #E34F26);
}

.fa-css3-alt:hover {
    color: #1572B6;
    filter: drop-shadow(0 0 8px #1572B6);
}

.fa-js:hover {
    color: #F7DF1E;
    filter: drop-shadow(0 0 8px #F7DF1E);
}

.fa-python:hover {
    color: #3776AB;
    filter: drop-shadow(0 0 8px #3776AB);
}

.tech {
    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 10px;
}


.tech span {
    font-size: 14px;

    color: white;

    opacity: 0;

    transform: translateY(-5px);

    transition: 0.3s;
}
.tech:hover span {
    opacity: 1;

    transform: translateY(0);
}
.tech i:hover {
    transform: translateY(-6px) scale(1.08);
}
.tech i {

    font-size: 55px;

    color: #9ca3af;

    transition: 0.3s;

    cursor: pointer;

    opacity: 0.85;
}

#projetos {
    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 40px;
}
.cards-projetos {
    display: flex;

    gap: 30px;

    flex-wrap: wrap;

    justify-content: center;
}
.card {
    width: 300px;

    padding: 25px;

    border-radius: 20px;

    background: rgba(255,255,255,0.05);

    backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.08);

    transition: 0.3s;
}
.card:hover {
    transform: translateY(-8px);

    border-color: #a855f7;
}


footer {
    padding: 30px;
    text-align: center;
    font-size: 12px;
}